:host /deep/ ng2-smart-table thead > tr > th {
  background-color:
  #81D9DE;
  /*#BEB9BD;*/
}


/*:host /deep/ ng2-smart-table-title a:focus { color: red; }*/

/*:host /deep/ ng2-smart-table thead > tr > th > div { color: green; }*/

:host /deep/ td.ng2-smart-actions a {cursor: pointer;color: #BEB9BD; }


:host /deep/ tr,th {
/*background-color: aqua;*/
/*font-style: italic;*/
text-align:right;
border: 1px solid black;
width: 100%;
height: 50px;
}
