<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-md-offset-1">
            <div class="panel panel-default panel-table">
              <div class="panel-heading">
                <div class="row">
                  <div class="col col-xs-6">
                    <h3 class="panel-title">Cattle inventory</h3>
                  </div>
                  <div class="col col-xs-6 text-right">
                    <button type="button" class="btn btn-sm btn-primary btn-create" (click)="open(content)">Create New</button>
                  </div>
                </div>
              </div>
              <br>
              <div class="panel-body col-sm-12">
                <table class="table table-striped table-bordered table-list text-center">
                  <thead>
                    <tr>
                        <th ><em class="fa fa-cog"></em></th>
                        <th class="hidden-xs">ID</th>
                        <th>Breed</th>
                        <th>DoB</th>
                        <!-- <th>Age</th> -->
                        <th>Sex</th>
                        <th>Origin</th>
                    </tr>
                  </thead>
                  <tbody>
                          <tr *ngFor="let cattle of cattles; let today of today">
                            <td align="center">
                              <div class="btn-group">
                                <a class="btn btn-default" routerLink="/cattle/{{cattle.id}}"><em class="fa fa-pencil"></em></a>
                                <a class="btn btn-default" (click)="deleteCattleByID(cattle.id)"><em class="fa fa-trash"></em></a>
                              </div>
                            </td>
                            <td class="hidden-xs">{{cattle.id}}</td>
                            <td>{{cattle.breedName}}</td>
                            <td>{{cattle.dob | date: 'dd/MM/yyyy'}}</td>
                            <!-- <td>{{today}} </td> -->
                            <td>{{cattle.sex}}</td>
                            <td>{{cattle.origin}}</td>
                          </tr>
                        </tbody>
                </table>
              </div>
            </div>
        </div>
  </div>
</div>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-md-offset-1">
        <div class="panel-heading">
          <br>
          <div class="row">
            <div class="col col-xs-6">
              <h3>Create new:</h3>
            </div>
            <div class="col col-xs-6 text-right">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="c('Close click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>
        <br>
        <div class="container" ng-app="application" ng-controller="AppCtrl">
          <form action="" method="post" name="cattle_Form" class="form-cattle" (ngSubmit)=onSubmitCattle(cattleF,content) #cattleF="ngForm">
            <div class="form-group row">
                <label for="date-birth" class="col-sm-2 col-form-label">Breed</label>
                <div class="col-sm-2.5">
                    <select   id="breedName"
                              class="form-control"
                              name="breedName"
                              required
                              ngModel>
                      <option *ngFor="let breedName of breedName" [value]="">{{breedName}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row" ng-app="application" ng-controller="myApp">
                <label for="date-birth" class="col-sm-2 col-form-label">DoB:</label>
                <div class="col-sm-2.5">
                    <input  id="dob"
                            class="form-control"
                            type="date"
                            name="dob"
                            [ngModel]="today | date: 'yyyy-MM-dd'"
                            required>
                </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="power">Sex</label>
              <div class="col-sm-2.5">
                <select class="form-control"
                        id="sex"
                        required
                        name="sex"
                        ngModel = "def"
                        ng-init = "def = sex[0]">
                  <option *ngFor="let sex of sex" [value]="">{{sex}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
                <label for="date-birth" class="col-sm-2 col-form-label">Origin:</label>
                <div class="col-sm-2.5">
                    <input  id="origin"
                            class="form-control"
                            type=""
                            name="origin"
                            ng-model=""
                            ngModel
                            required>
                </div>
            </div>
            <div class="modal-footer">
              <div >
                <button   type="submit"
                          class="btn btn-primary"
                          name="submit"
                          value="cattle"
                          data-dismiss="modal"
                          aria-label="Close"
                          >Confirm</button>
                <button   type="button"
                          class="btn btn-danger"
                          (click)="c('Close click')">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</ng-template>
