<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-md-offset-1">
            <div class="panel panel-default panel-table">
              <div class="panel-heading">
                <div class="row">
                  <div class="col col-xs-6">
                    <h3 class="panel-title">Cattle inventory</h3>
                  </div>
                  <div class="col col-xs-6 text-right">
                    <button type="button" class="btn btn-sm btn-primary btn-create">Create New</button>
                  </div>
                </div>
              </div>
              <br>
              <div class="panel-body">
                <table class="table table-striped table-bordered table-list text-center">
                  <thead>
                    <tr>
                        <th><em class="fa fa-cog"></em></th>
                        <th class="hidden-xs">ID</th>
                        <th>Breed</th>
                        <th>DoB</th>
                        <th>Sex</th>
                        <th>Origin</th>
                    </tr>
                  </thead>
                  <tbody>
                          <tr *ngFor="let cattle of cattles">
                            <td align="center">
                              <a class="btn btn-default" routerLink="/cattle/{{cattle.id}}"><em class="fa fa-pencil"></em></a>
                            </td>
                            <td class="hidden-xs">{{cattle.id}}</td>
                            <td>{{cattle.breedName}}</td>
                            <td>{{cattle.dob | date: 'dd/MM/yyyy'}}</td>
                            <td>{{cattle.sex}}</td>
                            <td>{{cattle.origin}}</td>
                          </tr>
                        </tbody>
                </table>
              </div>
            </div>
        </div>
  </div>
</div>
