<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="https://www.purinamills.com/2.purinamills.com/media/Images/Content/cattle_lifestage_weaned-calf.png?ext=.png" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Cattle</h4>
      <p class="card-text">See the whole inventory of cattle. And detailed information about each animal.</p>
    </div>
    <div class="card-footer text-center">
      <a [routerLink]="['/cattle']" class="btn btn-primary">Go to cattle</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://www.coimma.com.br/balancas-e-troncos/upload/Fotos_Categorias/baltroncozoom.jpg" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Weight</h4>
      <p class="card-text">Update the weight of the cattle.</p>
    </div>
    <div class="card-footer text-center">
      <a routerLink="/weight" class="btn btn-primary">Go to weights</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://sites.seizethemarket.com/site-files/9/cms/26/photo-1.jpg" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Reports</h4>
      <p class="card-text">See performance report of cattle weights.</p>
    </div>
    <div class="card-footer text-center">
      <a routerLink="/reports" class="btn btn-primary">Go to reports</a>
    </div>
  </div>
</div>
