<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-md-offset-1">

            <div class="panel panel-default panel-table">
              <div class="panel-heading">
                <div class="row">
                  <div class="col col-xs-6">
                    <h3 class="panel-title">Cattle information</h3>
                  </div>
                  <div class="col col-xs-6 text-right">
                    <button type="button" [routerLink]="['/cattle']" class="btn btn-sm btn-primary btn-create">Back</button>
                  </div>
                </div>
              </div>
              <br>
              <div class="panel-body">
                <table class="table table-striped table-bordered table-list text-center">
                  <thead>
                    <tr>
                        <th class="hidden-xs">ID</th>
                        <th>Breed</th>
                        <th>DoB</th>
                        <th>Sex</th>
                        <th>Origin</th>
                    </tr>
                  </thead>
                  <tbody>
                          <tr *ngFor="let cattle of cattleInfo">
                            <td class="hidden-xs">{{cattle.id}}</td>
                            <td>{{cattle.breedName}}</td>
                            <td>{{cattle.dob | date: 'dd/MM/yyyy'}}</td>
                            <td>{{cattle.sex}}</td>
                            <td>{{cattle.origin}}</td>
                          </tr>
                        </tbody>
                </table>



              </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 col-md-offset-1">


          <table class="table table2 table-striped table-bordered table-list text-center">
            <thead>
              <tr>
                  <th class="hidden-xs">Date</th>
                  <th class="hidden-xs">Weights</th>
              </tr>
            </thead>
            <tbody>
                    <tr *ngFor="let weight of weightInfo; let i = index " >
                      <td class="hidden-xs">{{weight.date | date: 'dd/MM/yyyy'}}</td>
                      <td class="hidden-xs">{{weight.weight}}</td>
                    </tr>
                  </tbody>
          </table>


        </div>
    </div>


</div>
